@import '../../scss/variables';

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 80px 32px;

  @media screen and (min-width: 768px) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    max-width: 1000px;
    margin: 120px auto;
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media screen and (min-width: 768px) {
    flex-direction: column-reverse;

    &:first-of-type {
      grid-area: 1 / 1 / 2 / 2;
    }

    &:last-of-type {
      grid-area: 1 / 3 / 2 / 4;
    }
  }
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  margin: 15px;
  font-size: $typography__font-size--xxl;
  background: $color__dark-text;
  border-radius: 50%;

  @media screen and (min-width: 768px) {
    width: 150px;
    height: 150px;
  }
}

.label {
  margin: 24px 0;
  text-align: center;
  text-transform: uppercase;
}

.result {
  grid-column: 1 / 3;
  text-align: center;

  @media screen and (min-width: 768px) {
    grid-area: 1 / 2 / 2 / 3;
  }
}

.resultHeading {
  font-size: $typography__font-size--xl;
  font-weight: $typography__font-weight--bold;
  text-transform: uppercase;
  margin-bottom: 32px;
}
