@import '../../scss/variables';

.button {
  font-size: $typography__font-size--m;
  font-weight: $typography__font-weight--bold;
  letter-spacing: 2px;
  color: $color__white;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $color__header-outline;
  border-radius: 10px;
  padding: 12px 40px;
  position: relative;
  cursor: pointer;

  &:hover::after {
    opacity: 0.2;
  }

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background: $color__white;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
}

.buttonPrimary {
  background-color: $color__white;
  color: $color__dark-text;
  border: 0;
  padding: 16px 40px;
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 0.7;
  }
}
