.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 250px;
  position: relative;
  margin: 120px auto 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px 250px;

  @media screen and (min-width: 768px) {
    width: 400px;
    height: 400px;
    background-size: 400px 400px;
  }
}

.scissors {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.paper {
  position: absolute;
  top: 20%;
  right: -15%;
}

.spock {
  position: absolute;
  top: 20%;
  left: -15%;
}

.rock {
  position: absolute;
  bottom: -15%;
  right: 0;
}

.lizard {
  position: absolute;
  bottom: -15%;
  left: 0;
}
