@import '../../scss/variables';

.roundel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: -1;
  }
}

.gesture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.roundelInner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  background-color: $color__grey;
  border-radius: 50%;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color__white;
    border-radius: 50%;
  }
}

.scissors {
  background: $gradient__scissors;

  &::after {
    background-color: $color__scissors-border-bottom;
  }
}

.rock {
  background: $gradient__rock;

  &::after {
    background-color: $color__rock-border-bottom;
  }
}

.paper {
  background: $gradient__paper;

  &::after {
    background-color: $color__paper-border-bottom;
  }
}

.lizard {
  background: $gradient__lizard;

  &::after {
    background-color: $color__lizard-border-bottom;
  }
}

.spock {
  background: $gradient__spock;

  &::after {
    background-color: $color__spock-border-bottom;
  }
}
