@import '../../scss/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border: 3px solid $color__header-outline;
  border-radius: 10px;
}

.logo {
  display: block;
  width: 64px;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color__white;
  color: $color__dark-text;
  padding: 12px 24px;
  border-radius: 10px;

  &__label {
    font-size: $typography__font-size--s;
    color: $color__score-text;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  &__points {
    font-size: $typography__font-size--xxl;
    font-weight: $typography__font-weight--bold;
    line-height: 1;
  }
}
