.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
    margin: 120px 0;
  }
}
